.container {
    background-color: white;
    border-radius: 20px; /* adjust the value to your preference */
}

h1, label, legend, input[type="text"], textarea, h2 {
    text-align: center;
    color: black; /* or any other color value that you prefer */
}

.btn-outline-info {
    color: black;
    border-color: black;
}

.loader {
  position: relative;
  top: -30px;
  left: 175px;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  background-color: linear-gradient(315deg, #949494 0%, #E8E8E8 100%);
  transition: opacity 0.75s, visibility 0.75s;
}

.loader::after{
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid black;
  border-top-color: #123456;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from{
    transform: rotate(0turn);
  }
  to{
    transform: rotate(1turn);
  }
}
