.bottoni {
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center
}

 th {
  border:1px solid black;
  background-color: #F7D621;
  color: #1E5393
}
 td{
   border:1px solid black;
   background-color: #1E5393;
   color: #F7D621
 }

table{
  background-color: #FFFFFF;
  border:2px solid #F7D621;
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center
}

body{
  background-color: #1E5393;
}

h1, h4 {
  color: #1E5393;
}
p{
    color: #FFFFFF;
}

button{
  background-color: #F7D621;
  border:2px solid #F7D621;
}
