<!DOCTYPE html>

<html>
    <head>
        <title>Chat</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    </head>

    <body>
        <section class="section"> 
            <div class="container">
                <div class="columns is-multiline">
                    <div class="column is-6 is-offset-3">
                        <div class="box">
                            <div id="chat-message-container">{% for m in messages %}<b>{{ m.username }}</b>: {{ m.data}}<br>{% endfor %}
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input" type="text" placeholder="Message" id="chat-message-input">
                                <!--textarea id="chat-log" cols="100" rows="20"></textarea><br-->
                                <!--input id="chat-message-input" type="text" size="80"><br-->
                            </div>
                        </div>  
                        <div class="field">
                            <div class="control">
                                <!--a class="button is-info" id="room-name-submit">Submit</a-->
                                <!--button class="submit" id="chat-message-submit">Send</button-->
                                <input id="chat-message-submit" type="button" value="Invia">
                            </div>
                        </div>
                        <small class="has-text-grey-light">Your username: {{ username }}</small>
                    </div>
                </div>
            </div>
        </section>

        {{ room_name|json_script:"roomname" }}
        {{ username|json_script:"username" }}

        <script>
           const roomName = JSON.parse(document.getElementById('roomname').textContent);
           const userName = JSON.parse(document.getElementById('username').textContent);

           const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/' //ho tolo chat/
                + roomName
                + '/'
           );

           chatSocket.onmessage = function(e){
                console.log('onMessage');

                const data = JSON.parse(e.data);

                /*if(data.message){
                    document.querySelector('#chat-message-container').innerHTML += ('' + data.username + ': ' + data.message + '\n');
                }else
                    alert('Il messaggio è vuoto!')*/
                var div = document.createElement("div");
                div.innerHTML = data.username + ": " + data.message;
                //document.querySelector('#chat-message-input')
                document.querySelector('#chat-message-container').appendChild(div);
           };

           chatSocket.onclose = function(e){
                console.error('Il socket si è chiuso in maniera inaspettata');
           };

           document.querySelector('#chat-message-submit').onclick = function(e){
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;

                chatSocket.send(JSON.stringify({
                    'message': message,
                    'username': userName, 
                    'room': roomName
                }));

                messageInput.value = '';
                //inizializza text vuota
                document.getElementById('#chat-message-input').reset();
           }
        </script>
    </body>
</html>