{% extends 'multiplayer_chess/base_for_classic_chess.html' %}

{%block head %} 
<style>
    .wrapper{
        width: 90%;
        margin: auto;
        height: auto;
        display: flex;
    }
    .column{
        float: left;
    }
    .left{
        width: 30%
    }
    .middle{
        width: 40%;
    }
    .right{
        width: 30%
    }
    .row:after{
        content: "";
        display: table;
        clear: both;
    }
</style>

{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
<link rel="stylesheet" href="{% static 'multiplayer_chess/chessboardjs-1.0.0/css/chessboard-1.0.0.min.css' %}">
<script>var exports = {};</script>
<script src="{% static 'multiplayer_chess/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'multiplayer_chess/chessboardjs-1.0.0/js/chessboard-1.0.0.min.js' %}"></script>
<script src="{% static 'multiplayer_chess/chesslogic/chess.js' %}"></script>

{% endblock %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="row">
    <div class="column left">
        <p>Cronologia...</p>
    </div>
    <div class="column middle">
        <div class="container">
            <div id="myBoard" style="width: 500px; margin-left: auto; margin-right: auto;"></div>
        </div>
    </div>
    <div class="column right">
        <div class="container">
            <div class="box">
                <div id="chat-message-container">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input" type="text" placeholder="Message" id="chat-message-input">
                </div>
            </div>  
            <div class="field">
                <div class="control">
                    <input id="chat-message-submit" type="button" value="Invia">
                </div>
            </div>
            <small class="has-text-grey-light">Your username: {{ username }}</small>
        </div>
    </div>
</div>

{{ username|json_script:"username" }}

<script>
    function onDragStart (source, piece, position, orientation) {
    if (game.isGameOver() || (game.turn() === "w" && piece.search(/^b/) !== -1) ||
        (game.turn() === "b" && piece.search(/^w/) !== -1) || game.turn() != orientation[0]) {
        return false;
    }
    }

    function onDrop (source, target, piece, newPos, oldPos, orientation) {
        let prom = 'q';
        try{
            game.move({from: source, to: target, promotion: prom});

            if((target[1] === '8' && piece == 'wP') || (target[1] === '1' && piece === 'bP')){
                prom = prompt("In quale pezzo vorresti promuovere il pedone?\nScrivi la lettera 'q' per la donna, 'n' per"
                +" il cavallo, 'b' per l'alfiere e 'r' per la torre");
                game.undo();
                game.move({from: source, to: target, promotion: prom});
            }

            send_move(source, target, prom);

            }
            catch (e){
                return "snapback";
            }
    }
    
    function check_status () {
        board.position(game.fen())
        if(game.isCheckmate()){
            let winner = "bianchi"
            if(game.turn() === 'w')
                winner = "neri"
            alert("La partita è finita! Il vincitore è il giocatore con i pezzi " + winner)
        }

        else if(game.isStalemate())
            alert("La partita è finita in pareggio per stallo!")

        else if(game.isDraw())
            alert("La partita è finita in pareggio!")
    }
       
    function pieceTheme (piece) {
        return "{% static '/multiplayer_chess/chessboardjs-1.0.0/img/chesspieces/wikipedia/' %}" + piece + '.png';
    }

    let orientation = 'white';

    {% if order == 2 %}
        orientation = 'black';
    {% endif %}

    let config = {
        orientation: orientation,
        draggable: true,
        pieceTheme: pieceTheme,
        position: 'start',
        onDragStart: onDragStart,
        onDrop: onDrop,
        onSnapEnd: check_status
    };

    let game = new Chess();
    let board = ChessBoard('myBoard', config);

    const socket = new WebSocket('ws://' + window.location.host + '/ws/chessws/' + {{room_number}} + '/');

    socket.onmessage = function(e){
        const data = JSON.parse(e.data);

        if(data.type == 'game_move')
        {
            game_receive(data);
        }
        else {
            message_receive(data);
        }
            
   };

   function game_receive(data){
    try{
        game.move({from: data.move.slice(0,2), to: data.move.slice(2,4), promotion: data.move[4]});
        check_status();
        }
        catch (e){
            return "snapback";
        }
   }
   function message_receive(data){
    var div = document.createElement("div");
        div.innerHTML = data.username + ": " + data.message; 
        document.querySelector('#chat-message-container').appendChild(div); 
   }
   function send_move(source, target, prom){
    let obj = new Object();
    obj.move = source + target + prom;
    obj.type = 'game_move';
    let string = JSON.stringify(obj);
    socket.send(string);
   }

   document.querySelector('#chat-message-submit').onclick = function(e){
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        const userName = JSON.parse(document.getElementById('username').textContent);

        socket.send(JSON.stringify({
            'type': 'messaggio',
            'message': message,
            'username': userName
        }));

        messageInputDom.value = '';            
    }
</script>
{% endblock %}