{% extends 'multiplayer_chess/base.html' %}
{% load static %}

{% block navbar %}
    {% include 'multiplayer_chess/navbar.html' %}
{% endblock %}

{% block content %}
<style>
    .container {
        max-width: 1500px;
    }
</style>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Filtra partite effettuate</h5>
            <form method="get">
                {{cronologia.form}}
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span>Filtra
                </button>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <form method="get">
                <table class="table">
                    <tr>
                        <th>Giocatore 1</th>
                        <th>Giocatore 2</th>
                        <th>Data partita</th>
                        <th>Modalità</th>
                        <th>Vincitore</th>
                    </tr>
                {% for c in cronologia.qs %}
                    <tr>
                        <td>{{ c.player1 }}</td>
                        <td>{{ c.player2 }}</td>
                        <td>{{ c.data_partita}}</td>
                        <td>{{ c.mode }}</td>
                        <td>{{ c.winner }}</td>
                    </tr>
                {% endfor %}
                </table>
                
            </form>
            
        </div>
    </div>
</div>
        

{% endblock %}
