.bottoni {
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center
}

 th, td {
  border:1px solid black;
  background-color: white;
}

table{
  border:2px solid black;
  background-color: #FCD299;
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center
}

body{
  background-color: #123456;
}

h1, h4{
  color: #000000;
}

button{
  background-color: #FCD299;
  border:2px solid black;
}
