absl-py==1.4.0
asgiref==3.6.0
async-timeout==4.0.2
attrs==23.1.0
autobahn==23.1.2
Automat==22.10.0
beautifulsoup4==4.11.1
certifi==2022.12.7
cffi==1.15.1
channels==4.0.0
channels-redis==4.1.0
charset-normalizer==2.0.12
chess==1.9.4
colorama==0.4.6
constantly==15.1.0
contourpy==1.0.7
cryptography==40.0.2
cycler==0.11.0
daphne==4.0.0
decorator==4.4.2
distlib==0.3.6
dj-database-url==2.0.0
Django==4.2
django-filter==23.2
django-heroku==0.3.1
djangorestframework==3.14.0
filelock==3.11.0
fonttools==4.39.4
gevent==22.10.2
greenlet==2.0.1
grequests==0.6.0
hyperlink==21.0.0
idna==3.4
imageio==2.23.0
imageio-ffmpeg==0.4.7
incremental==22.10.0
kiwisolver==1.4.4
matplotlib==3.7.1
moviepy==1.0.3
msgpack==1.0.5
natsort==8.2.0
numpy==1.24.0
packaging==23.1
Pillow==9.3.0
pipenv==2023.3.20
platformdirs==3.2.0
proglog==0.1.10
protobuf==4.22.1
psycopg2==2.9.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pyOpenSSL==23.1.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
redis==4.5.4
requests==2.27.1
schedule==1.2.0
scipy==1.10.1
service-identity==21.1.0
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.4
tqdm==4.64.1
Twisted==22.10.0
txaio==23.1.1
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.13
virtualenv==20.21.0
virtualenv-clone==0.5.7
whitenoise==6.4.0
zope.event==4.6
zope.interface==5.5.2
schedule
coverage