{% extends "base.html" %}

{%block head %} 
<style>
    .move{
        display: flex;
    }
    
    .move .intern_div{
        padding-left: 10px;
        width: 70px;
    }

    .wrapper{
        width: 90%;
        margin: auto;
        height: auto;
        display: flex;
    }
    .column{
        float: left;
    }
    .left{
        width: 30%
    }
    .middle{
        width: 40%;
    }
    .right{
        width: 30%
    }
    .row:after{
        content: "";
        display: table;
        clear: both;
    }
</style>

{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
<link rel="stylesheet" href="{% static '/chessboardjs-1.0.0/css/chessboard-1.0.0.min.css' %}">
<script>var exports = {};</script>
<script src="{% static '/jquery-3.6.4.min.js' %}"></script>
<script src="{% static '/chessboardjs-1.0.0/js/chessboard-1.0.0.min.js' %}"></script>

{% endblock %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="row">
    <div class="column left">
      <div class="cronologia">
        <h1>Cronologia</h1>
        <div
          id="history"
          style="
            width: 100px;
            margin-left: 10px;
            margin-top: 10px;
            padding: 10px;
            height: 54vh;
            width: 100%;
            background-color: #fefae0;
            overflow-y: scroll;
            border: 1px solid black;
            border-radius: 10px;
          "
        ></div>
      </div>
    </div>
    <div class="column middle">
      <div class="container">
        <div
          id="myBoard"
          style="width: 500px; margin-left: auto; margin-right: auto"
        ></div>
      </div>
    </div>
    <div class="column right">
        <div class="container">
            <div class="box">
                <div id="chat-message-container">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input" type="text" placeholder="Message" id="chat-message-input">
                </div>
            </div>  
            <div class="field">
                <div class="control">
                    <input id="chat-message-submit" type="button" value="Invia">
                </div>
            </div>
            <small class="has-text-grey-light">Your username: {{ username }}</small>
        </div>
    </div>
</div>

{{ username|json_script:"username" }}

<script>
    function onDragStart (source, piece, position, orientation) {
    if (game_status || (turn === "w" && piece.search(/^b/) !== -1) ||
        (turn === "b" && piece.search(/^w/) !== -1) || turn != orientation[0]) {
        return false;
    }
    }

    function onDrop (source, target, piece, newPos, oldPos, orientation) {
        if((target[1] === '8' && piece == 'wP') || (target[1] === '1' && piece === 'bP')){
            prom = prompt("In quale pezzo vorresti promuovere il pedone?\nScrivi la lettera 'q' per la donna, 'n' per"
            +" il cavallo, 'b' per l'alfiere e 'r' per la torre");
            send_move(source, target, prom)
        }
        send_move(source, target, "");
    }
    
    function check_status (fen) {
        board.position(fen);

        switch(game_status){
            
            case "checkmate":
            let winner = "bianchi";
            if(turn === 'w')
                winner = "neri";
            alert("La partita è finita! Il vincitore è il giocatore con i pezzi " + winner);
            break;

            case "stalemate":
            alert("La partita è finita in pareggio per stallo!")
            break;

            case "insufficient":
            alert("La partita è finita in pareggio per posizione morta!")
            break;

            case "var_draw":
            alert("La partita è finita in pareggio per una regola della variante!")
            break;

            case "var_loss":
            let winner2 = "bianchi"
            if(turn === 'w')
                winner2 = "neri"
            alert("La partita è finita per una regola della variante! Il vincitore è il giocatore con i pezzi " + winner2)
            break;
        }
    }
       
    function pieceTheme (piece) {
        return "{% static '/chessboardjs-1.0.0/img/chesspieces/wikipedia/' %}" + piece + '.png';
    }

    let orientation = 'white';

    {% if order == 2 %}
        orientation = 'black';
    {% endif %}

    let config = {
        orientation: orientation,
        draggable: true,
        pieceTheme: pieceTheme,
        position: 'start',
        onDragStart: onDragStart,
        onDrop: onDrop,
        onSnapEnd: check_status
    };

    let board = ChessBoard('myBoard', config);
    let game_status = "";
    let turn = "w";
    let count = 1;
    let create_div = true;

    const socket = new WebSocket('ws://' + window.location.host + '/ws/chessws/' + "{{room_number}}" + "/" + "{{variant}}" + "/");
    console.log(socket)

    socket.onmessage = function(e){
        const data = JSON.parse(e.data);

        if(data.type == 'game_move')
        {
            game_receive(data);
        }
        else {
            message_receive(data);
        }
            
   };

   function game_receive(data){
    game_status = data.status;
    turn = data.turn;
    check_status(data.fen);
    store_move(data.last_move, data.result);
   }

   function message_receive(data){
    var div = document.createElement("div");
        div.innerHTML = data.username + ": " + data.message; 
        document.querySelector('#chat-message-container').appendChild(div); 
   }

   function send_move(source, target, prom){
    let obj = new Object();
    obj.move = source + target + prom;
    obj.type = 'game_move';
    let string = JSON.stringify(obj);
    socket.send(string);
   }

   function store_move(move, result) {
    if(result == 'success'){
        if(create_div){
        var div = document.createElement("div");
        div.setAttribute('class','move')
        div.setAttribute('id', 'move' + count);
        div.innerHTML = count + ". ";
        var intern_div = document.createElement("div");
        intern_div.setAttribute('class','intern_div')
        intern_div.innerHTML = move;
        document.querySelector('#history').appendChild(div);
        document.querySelector('#move' + count).appendChild(intern_div);
        create_div = false;
        }
        else{
            var intern_div = document.createElement("div");
            intern_div.setAttribute('class','intern_div')
            var div = document.querySelector('#move' + count);
            intern_div.innerHTML = move;
            div.appendChild(intern_div);
            create_div = true;
            count ++;
        }
    }
  }

   document.querySelector('#chat-message-submit').onclick = function(e){
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        const userName = JSON.parse(document.getElementById('username').textContent);

        socket.send(JSON.stringify({
            'type': 'messaggio',
            'message': message,
            'username': userName
        }));

        messageInputDom.value = '';            
    }
</script>
{% endblock %}