{% extends "base.html" %}

{%block head %} 

{% load static %}

<link rel="stylesheet" href="{% static '/chessboardjs-1.0.0/css/chessboard-1.0.0.min.css' %}">
<script>var exports = {};</script>
<script src="{% static '/jquery-3.6.4.min.js' %}"></script>
<script src="{% static '/chessboardjs-1.0.0/js/chessboard-1.0.0.min.js' %}"></script>
<script src="{% static 'chesslogic/chess.js' %}"></script>

{% endblock %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div id="myBoard" style="width: 400px;"></div>
<script>
    function onDragStart (source, piece, position, orientation) {
    if (game.isGameOver() || (game.turn() === "w" && piece.search(/^b/) !== -1) ||
        (game.turn() === "b" && piece.search(/^w/) !== -1)) {
        return false;
    }
    }

    function onDrop (source, target, piece, newPos, oldPos, orientation) {
        let prom = null;
        try{
            game.move({from: source, to: target, promotion: 'q'});
            if((target[1] === '8' && piece == 'wP') || (target[1] === '1' && piece === 'bP')){
                let prom = prompt("In quale pezzo vorresti promuovere il pedone?\nScrivi la lettera 'q' per la donna, 'n' per"
                +" il cavallo, 'b' per l'alfiere e 'r' per la torre");
                console.log(game.history());
                game.undo();
                game.move({from: source, to: target, promotion: prom});
                console.log(game.history());
            }
            }
            catch (e){
                return "snapback";
            }
        
        if(game.isCheckmate()){
            let winner = "bianchi"
            if(game.turn() === 'w')
                winner = "neri"
            alert("La partita è finita! Il vincitore è il giocatore con i pezzi " + winner)
        }

        else if(game.isStalemate())
            alert("La partita è finita in pareggio per stallo!")

        else if(game.isDraw())
            alert("La partita è finita in pareggio!")
    }
    
    function onSnapEnd () {
        board.position(game.fen())
    }
       
    function pieceTheme (piece) {
        return "{% static '/chessboardjs-1.0.0/img/chesspieces/wikipedia/' %}" + piece + '.png';
    }

    let config = {
        draggable: true,
        pieceTheme: pieceTheme,
        position: 'start',
        onDragStart: onDragStart,
        onDrop: onDrop,
        onSnapEnd: onSnapEnd
    };

    let game = new Chess();
    let board = ChessBoard('myBoard', config);
</script>
{% endblock %}