{% extends "base.html" %}

{%block head %} 

{% load static %}

<link rel="stylesheet" href="{% static '/chessboardjs-1.0.0/css/chessboard-1.0.0.css' %}">
<script src="{% static '/jquery-3.6.4.min.js' %}"></script>
<script src="{% static '/chessboardjs-1.0.0/js/chessboard-1.0.0.js' %}"></script>

{% endblock %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div id="myBoard" style="width: 400px;"></div>
<script>       
    function pieceTheme (piece) {
        return "{% static '/chessboardjs-1.0.0/img/chesspieces/wikipedia/' %}" + piece + '.png'
    }

    let config = {
        draggable: true,
        pieceTheme: pieceTheme,
        position: 'start'
    }
    let board = ChessBoard('myBoard', config)
</script>
{% endblock %}