{% extends "base.html" %}

{%block head %} 

{% load static %}

<link rel="stylesheet" href="{% static '/chessboardjs-1.0.0/css/chessboard-1.0.0.min.css' %}">
<script>var exports = {};</script>
<script src="{% static '/jquery-3.6.4.min.js' %}"></script>
<script src="{% static '/chessboardjs-1.0.0/js/chessboard-1.0.0.min.js' %}"></script>
<script src="{% static 'chesslogic/chess.js' %}"></script>

{% endblock %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div id="myBoard" style="width: 400px;"></div>
<script>
    function onDragStart (source, piece, position, orientation) {
    if (game.isGameOver() || (game.turn() === "w" && piece.search(/^b/) !== -1) ||
        (game.turn() === "b" && piece.search(/^w/) !== -1) || game.turn() != orientation[0]) {
        return false;
    }
    }

    function onDrop (source, target, piece, newPos, oldPos, orientation) {
        let prom = 'q';
        try{
            game.move({from: source, to: target, promotion: prom});

            if((target[1] === '8' && piece == 'wP') || (target[1] === '1' && piece === 'bP')){
                prom = prompt("In quale pezzo vorresti promuovere il pedone?\nScrivi la lettera 'q' per la donna, 'n' per"
                +" il cavallo, 'b' per l'alfiere e 'r' per la torre");
                game.undo();
                game.move({from: source, to: target, promotion: prom});
            }

            send_move(source, target, prom);

            }
            catch (e){
                return "snapback";
            }
    }
    
    function check_status () {
        board.position(game.fen())
        if(game.isCheckmate()){
            let winner = "bianchi"
            if(game.turn() === 'w')
                winner = "neri"
            alert("La partita è finita! Il vincitore è il giocatore con i pezzi " + winner)
        }

        else if(game.isStalemate())
            alert("La partita è finita in pareggio per stallo!")

        else if(game.isDraw())
            alert("La partita è finita in pareggio!")
    }
       
    function pieceTheme (piece) {
        return "{% static '/chessboardjs-1.0.0/img/chesspieces/wikipedia/' %}" + piece + '.png';
    }

    let orientation = 'white';

    {% if order == 2 %}
        orientation = 'black';
    {% endif %}

    let config = {
        orientation: orientation,
        draggable: true,
        pieceTheme: pieceTheme,
        position: 'start',
        onDragStart: onDragStart,
        onDrop: onDrop,
        onSnapEnd: check_status
    };

    let game = new Chess();
    let board = ChessBoard('myBoard', config);

    const socket = new WebSocket('ws://' + window.location.host + '/ws/chessws/' + {{room_number}} + '/');

    socket.onmessage = function(e){
        const data = JSON.parse(e.data);
        try{
            game.move({from: data.move.slice(0,2), to: data.move.slice(2,4), promotion: data.move[4]});
            check_status();
            }
            catch (e){
                return "snapback";
            }

   };

   function send_move(source, target, prom){
    let obj = new Object();
    obj.move = source + target + prom;
    let string = JSON.stringify(obj);
    socket.send(string);

   }


</script>
{% endblock %}