{% extends 'multiplayer_chess/base.html' %}
{% load static %}

{% block navbar %}
    {% include 'multiplayer_chess/navbar.html' %}
{% endblock %}

{% block content %}

<script>
    const socket = new WebSocket('ws://' + window.location.host + '/ws/lobbyws/' + "{{mode}}" + '/');
    socket.addEventListener('open', function (event) {
        console.log('WebSocket connection established.');
    });

    socket.addEventListener('message', function (event) {
        let data = JSON.parse(event.data)

        if (data['type'] === 'match_found') {
            // redirect the user to another page
            window.location.href = 'http://localhost:8000/' + encodeURIComponent(data['mode']) + '/' + encodeURIComponent(data['message']);
        }
    });
</script>

<div class="container mt-5" style="border: none; box-shadow: 0px 0px 30px #888888; max-width: 700px;">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center mb-5 mt-3">Ricerca Avversario in corso...</h2>
            <div class="loader"></div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="{% static 'multiplayer_chess/CSS/grafica_lobby.css' %}">
{% endblock %}
