{% extends 'multiplayer_chess/base.html' %}

{% load static %}

{% block navbar %}
    {% include 'multiplayer_chess/navbar.html' %}
{% endblock %}

{% block css %}
<head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha384-NXgwF8Kv9SSAr+jemKKcbvQsz+teULH/a5UNJvZc6kP47hZgl62M1vGnw6gHQhb1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.aropupu.fi/bracket/jquery-bracket/dist/jquery.bracket.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://www.aropupu.fi/bracket/jquery-bracket/dist/jquery.bracket.min.css">
</head>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'multiplayer_chess/CSS/grafica_lobby.css' %}">


<h1 class="mt-3 text-center" style="color: white;">{{tournament_data.name}}</h1>
<div class="container mt-4" style="max-width: 1200px; border-radius: 20px; ">
    <div class="row">
        <h2 class="mb-4">Dettagli Torneo:</h2>
        <div class="col-md-6 mt-1">
            
            <ul>
                <li><strong>Nome:</strong> {{ tournament_data.name }}</li>
                <li><strong>Data Inizio:</strong> {{ tournament_data.start_date }}</li>
                <li><strong>Data Fine:</strong> {{ tournament_data.end_date }}</li>
            </ul>
        
            <p style="margin-bottom: 5px;">Giocatori:</p>
        
            <ul>
                {% for player in tournament_data.players %}
                    <li>{{ player }}</li>
                {% empty %}
                    <li>No players yet.</li>
                {% endfor %}
            </ul>
    
        </div>
        
        {% if tournament_status != 'iscrizione' %}
            <div class="col-md-6">
                <div id="minimal">
                    <script>
                        var players_array = {{players_list|safe}};
                        var results = {{results|safe}};
                        console.log(players_array);
                        console.log(results)
                        var bigData = {
                            "teams":       
                                players_array,
                            "results": [            
                                results
                            ]
                        }
        
                        $.noConflict();
                        jQuery(function($) {
                            $('div#minimal .demo').bracket({init: bigData, skipConsolationRound: true});
                        });//skipConsolationRound: true
        
                    </script>
                    <div class="demo"></div>
                </div>
            </div>
        {% endif %}
    </div>

    {% if tournament_status != 'iscrizione' %}
        <div class="row mt-4">
            <div class="col">
                <a href="{% url 'multiplayer_chess:tournament_list'%}" role="button" class="btn btn-primary mb-2">Back to the list</a>
            </div>
            <div class="col">
                <a href="{% url 'multiplayer_chess:chess_game' room_number=match_user_id variant=mode %}" role="button" class="btn btn-primary">Vai alla tua partita  {{match_user}}</a>
            </div>
        </div>
    {% else %}
        <div class="row mt-4">
            <div class="col">
                <a href="{% url 'multiplayer_chess:tournament_list'%}" role="button" class="btn btn-primary mb-2">Back to the list</a>
                {% if iscritto %}
                    <p>
                        <a href="{% url 'multiplayer_chess:tournament_unsubscribe' tour_id=tournament_data.id %}" role="button" class="btn btn-primary">Disiscriviti dal Torneo</a>
                    </p>
                {% else %}
                    <p>
                        <a href="{% url 'multiplayer_chess:tournament_subscribe' tour_id=tournament_data.id %}" role="button" class="btn btn-primary">Iscriviti al Torneo</a>
                    </p>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}
